:root {
  --color-bg: #ffffff;
  --token-class: #0e6b82;
  --token-field: #005ba1;
  --token-method: #5f4500;
  --token-comment: #006000;
  --highlight-line: rgba(255, 255, 0, 0.15);
  --highlight-glyph: rgba(255, 255, 0, 0.6);
  color-scheme: light;
}

:root[data-theme="dark"] {
  --color-bg: #121212;
  --token-class: #71c6b1;
  --token-field: #aadafa;
  --token-method: #dcdcaf;
  --token-comment: #6a9955;
  --highlight-line: rgba(255, 255, 0, 0.1);
  --highlight-glyph: rgba(255, 255, 0, 0.4);
  color-scheme: dark;
}

body {
  background-color: var(--color-bg);
}

/* Prevent scrolling the body */
html, body, #root {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Webkit adds scrollbars as element selectors rather than allowing the element to control their style */
.webkit-scrollbar-hide::-webkit-scrollbar {
    display: none
}

.class-token-decoration {
  color: var(--token-class) !important;
}

.field-token-decoration,
.parameter-token-decoration,
.local-token-decoration {
  color: var(--token-field) !important;
}

.method-token-decoration {
  color: var(--token-method) !important;
}

.class-token-decoration-pointer {
  color: var(--token-class) !important;
  cursor: pointer;
}

.field-token-decoration-pointer,
.parameter-token-decoration-pointer,
.local-token-decoration-pointer {
  color: var(--token-field) !important;
  cursor: pointer;
}

.method-token-decoration-pointer {
  color: var(--token-method) !important;
  cursor: pointer;
}

/* Control comment marker and content color, eg "/*" */
.mtk7,
.mtk7.method-token-decoration {
  color: var(--token-comment) !important;
  font-style: italic;
}

/* Highlighted line for line linking */
.highlighted-line {
  background-color: var(--highlight-line) !important;
}

.highlighted-line-glyph {
  background-color: var(--highlight-glyph) !important;
  width: 4px !important;
}

/* Stop icon & text in file tree from wrapping */
.ant-tree-node-content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    padding-inline: 0 !important;
}

/* Remove extraneous gap in file tree component */
.ant-tree-switcher {
    margin-inline-end: 0 !important;
}

/* Fix file tree icon centering */
.ant-tree-iconEle > .anticon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Stop text in file tree from wrapping */
.ant-tree-title {
    white-space: nowrap;
}

/* Don't have text overflow in the structure dialog */
.structure-tree {
    overflow: auto;
}

.full-text-search-item {
    cursor: pointer;
}

.full-text-search-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.ant-tabs-content {
    height: 100%;
}
